$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';


.navbar,
.navbar-brand {
  background-color: #0F1626;
  color: #FF533D;
  font-size: 25px;
}

.nav-bar,
.dropdown-toggle {
  background-color:#0F1626;
  font-size: 12px;
  color: #FF533D;
}

@import './styles1.css';
