/*////////////  HEADER STYLES  start  ////////////// */

.page-top {
  background-color: #F7F5E6;
}

/*////////////  HEADER STYLES end   ////////////// */

.delete-product {
  border-radius: 100px;
  background-color: #FF533D;
  color: #333a56;
  font-family: Oswald;
  margin: 20px;
  padding: 15px;

}


/*////////////  ABOUT STYLES  start  ////////////// */
.about {
    width: 100%;
    height: 450px;
    background-color: #F7F5E6;
}

.about-title {
    font-family: 'Oswald', sans-serif;
    font-size: 54px;
    color: #333a56;
    text-align: center;
    /* margin: 6px 2px; */
}

.about-bio {
    font-family: 'Nunito', serif;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #52658F;
    width: 540px;
    margin: 0 auto;
    padding: 25px;
}

/*////////////  ABOUT STYLES  end  ////////////// */
#create-product {
  text-align: center;
}

#new-prod {
  background-color: #52658F;
  border-radius: 100px;
  color: #F7F5E6;
  font-family: Oswald;
  padding: 10px;
}

#update-submit {
  background-color: #EBFF48;
  border-radius: 100px;
  color: #333a56;
  font-family: Oswald;
  padding: 10px;
  /*margin: 20px;
  padding: 15px;*/

}

#view-all {
  background-color: #FF533D;
  border-radius: 100px;
  color: #F7F5E6;
  font-family: Oswald;
  margin: 20px;
  padding: 15px;
}


/*////////////// HOVER ACTIONS - start ////////////////////*/

#view-all:hover {
  text-decoration: underline;
}

/*////////////// HOVER ACTIONS - end ////////////////////*/



/*////////////  PHOTO GALLERY STYLES  start  ////////////// */
#photo-one {
  background-image: url(./images/liquor_cabinet_after.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 33%;
}

#photo-two {
  background-image: url(./images/turquoise_dresser_after.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 33%;
}

#photo-three {
  background-image: url(./images/living_room_table_after.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 33%;
}

#photo-four {
  background-image: url(./images/numbered_dresser.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 33%;
}

#photo-five {
  background-image: url(./images/dresser.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 33%;
}

#photo-six {
  background-image: url(./images/armwoire.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 33%;
}

.photo-gallery {
    width: 100%;
    height: 600px;
    /*background-color: orange;*/
    /* text-align: center; */
}

.photo-thumb {
    border: 1px solid #E8E8E8;
    width: 33%;
    float: left;
    height: 300px;
    transition: color .5s ease-out, background .5s ease-in;
}

.footer {
    background-color: #0F1626;
    background-repeat: no-repeat;
    color: #e8e8e8;;
    width: 100%;
    height: 400px;
}

#template-title {
  font-family: Oswald;
  font-size: 35px;
  text-align: center;
}

#product-description {
  font-weight: 600;
}

.handlebars-body {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}
